{% extends 'shop/base.html' %}
{% block title %}About{% endblock %}
{% block css %}
{% endblock %}
{% block about %}active{% endblock %}
{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>About Us</h1>
    <p class="lead">Welcome to the first 3 model E-commerce platform to sell your product by adding it in our website , to purchase our products at big offers and lowest prices , to sell our range of products by adding your profit marging to your customers by just putting customer details and ordering it which will contain your name . We also offers returns and cash on delivery options in large range of products . we gurantee the best service , best products , best quality , best price and also best opportunity to earn through our platform and by paying nothing.</p>
  </div>
</main>
{% endblock %}