{% extends 'shop/base.html' %}
{% block title %}About{% endblock %}
{% block css %}
#contact {
	width: 100%;
	height: auto;
	background-color: #e6b58f;
}

#contact .container {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
	text-transform: capitalize;
}

#contact .container h4 {
	font-family: "Franklin Gothic Medium";
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.056rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#contact .container p {
	font-family: Cambria;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.044rem;
	text-align: center;
	padding: 0.2rem 0rem;
}

#contact .container p.email {
	margin: 0 auto;
	margin-top: 16rem;
	border-bottom: 1px solid white;
	text-align: left;
	width: 40%;
}

#contact .container p.email span {
	width: 17px;
	height: 15px;
	float: right;
}

#contact .container p.email span img {
	width: 17px;
	height: auto;
}

@media only screen and (max-width: 800px) {
	#contact .container p.email {
		width: 90%;
	}
}
.back-to-top {
	padding: 1rem;
	position: fixed;
	bottom: 8%;
	right: 2%;
	z-index: 2;
	opacity: 0.2;
	background-color: rgba(255, 255, 255, 0);
}

.back-to-top:hover {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
} 
{% endblock %}
{% block about %}active{% endblock %}
{% block body %}
<div class="container">
  <div class="bg-light p-5 rounded">
    <h1>About Us</h1>
    <p class="lead">Welcome to the first 3 model E-commerce platform to sell your product by adding it in our website , to purchase our products at big offers and lowest prices , to sell our range of products by adding your profit marging to your customers by just putting customer details and ordering it which will contain your name . We also offers returns and cash on delivery options in large range of products . we gurantee the best service , best products , best quality , best price and also best opportunity to earn through our platform and by paying nothing.</p>
  </div>
</div>
<section id="contact">
  <div class="container">
    <h4>contact us</h4>
    <p>justclicknpick1@gmail.com</p>
    <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
  </div>
</section>
<div class="back-to-top"><a href="#nav"> <img title="JC&P." width="50" height="50" src="/media/shop/images/logo_2.png" alt="JC&P"></a> </div>
{% endblock %}