<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% load static %}
<!-- <link rel="stylesheet" href="/staticfiles/just/css/index.css"> -->
 
<!-- <link rel="shortcut icon" type="image/png" href="#"/> -->
<!-- Favicons -->
<!-- <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180"> -->
<link rel="icon" href="\media\shop\images\favicon.ico" sizes="32x32" type="image/png">
<!-- <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico"> -->


    <title>{% block title%}{% endblock %}</title>
     <style>
       *{
         margin:0;
         padding:0;
        }
       .navbar-dark .navbar-brand {
        color: #cd4fc9;
        }
      .thumbnail {
        border-radius: 44px;
        padding: 5px;
        width: 50px;
        }
        .nav-pills .nav-link.active{
          background-color: #cb6d54cc;
        }
        .btn-primary-spc {
        color: #fff;
        background-color: #252916;
        border-color: #f9ff00;
        }
        .btn-outline-success-spc {
    color: #d1d3b5;
    border-color: #c3c713;
    }
    .modal-header{
      background-color: #b5b730;
    }
    * {box-sizing: border-box;}
.img-zoom-container {
  position: relative;
}
.img-zoom-lens {
  position: absolute;
  border: 2px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 150px;
  height: 150px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 450px;
  height: 400px;
  margin-left:10px;
  border-radius: 8px;
}
/* #myimage:hover .img-zoom-result{
 display: none;
} */

      
    
       {% block css %} {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img class="thumbnail" src="\media\shop\images\logo.jpeg">
      <a class="navbar-brand" href="/"><strong style="font-size: 18px;">JC&P</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <li class="nav-item mx-2">
        <a class="nav-link {% block home %} {% endblock %}" aria-current="page" href="/">home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link {% block about %} {% endblock %}" href="/about">About us</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link {% block contact  %} {% endblock %}" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link {% block orders  %} {% endblock %}" href="/orders">Orders</a>
      </li>
    </ul>
    <div class="ml-auto"></div>
    <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
      <input style="width: 300px;" class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success-spc my-2 my-sm-0" type="submit">Search</button>
    </form>
  {% if user.is_authenticated%}
      <ul class="nav nav-tabs mx-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Welcome {{request.user.first_name}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    {% else %}
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary-spc mx-2" data-toggle="modal" data-target="#loginModal">
      Log in
    </button>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary-spc" data-toggle="modal" data-target="#signupModal">
      Sign Up
      </button>
      {% endif %}
    </div>
  </div>
</nav>
{% for message in messages%}
<div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>Message: </strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<!-- SignUp Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/signup" method='post'>
          {% csrf_token %}
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
  </div>
 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Sign in</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
  {% block body %} {% endblock %}

  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
            
            <div class="form-group">
              <label for="Email">Enter your Email</label>
              <input type="text" class="form-control" id="loginemail" name="loginemail" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="pass">Enter your password </label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password ">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
         <div class="modal-footer">
        </div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    <script>
function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /*create lens:*/
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /*insert lens:*/
  img.parentElement.insertBefore(lens, img);
  /*calculate the ratio between result DIV and lens:*/
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /*set background properties for the result DIV:*/
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /*execute a function when someone moves the cursor over the image, or the lens:*/
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
    /*and also for touch screens:*/
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image:*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    /*calculate the position of the lens:*/
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /*prevent the lens from being positioned outside the image:*/
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /*set the position of the lens:*/
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /*display what the lens "sees":*/
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
    }
  }
  </script>
  {% block js %} {% endblock %}
    <script>
      // Initiate zoom effect:
        imageZoom("myimage", "myresult");
      
      </script>
      

    
  </body>
</html>
