{% extends 'shop/base.html' %}
{% block title %}Shop{% endblock %}
{% block css %}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  box-sizing:border;
  border:4px solid lightblue;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border-radius:8px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  <!-- background-color: #000; -->
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
  <!--- 
    *******************
  -->

  body .no-padding{
   padding-left: 0;
   padding-right: 0;
   }
   .bg-yellow {
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
   }
   .logo{
     width:220px;
     height:150px;
     border-radius: 32px;
   }
   .card{
     margin-bottom:10px;
   }
   @media screen and (max-width: 700px){
    .logo{
      width:300px;
     height:200px;
     border-radius: 32px;
    }
   }
   .btn-outline-success:hover{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
   }
   .btn-outline-success{
     background:black;
     <!-- border:8px solid red; -->
     border-radius:10px;
   }
   .heading{
     letter-spacing:1px;
     padding:12px;
     border:4px solid white;
   }
   .heading:hover{
    background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opicity:-1;
   }
   .div{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
   }
   #contact {
    width: 100%;
    height: auto;
    background-color: #e6b58f;
  }
  
  #contact .container {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding-bottom: 2rem;
    text-transform: capitalize;
  }
  
  #contact .container h4 {
    font-family: "Franklin Gothic Medium";
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.056rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  #contact .container p {
    font-family: Cambria;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.044rem;
    text-align: center;
    padding: 0.2rem 0rem;
  }
  
  #contact .container p.email {
    margin: 0 auto;
    margin-top: 16rem;
    border-bottom: 1px solid white;
    text-align: left;
    width: 40%;
  }
  
  #contact .container p.email span {
    width: 17px;
    height: 15px;
    float: right;
  }
  
  #contact .container p.email span img {
    width: 17px;
    height: auto;
  }
  
  @media only screen and (max-width: 800px) {
    #contact .container p.email {
      width: 90%;
    }
  }
  .back-to-top {
    padding: 1rem;
    position: fixed;
    bottom: 8%;
    right: 2%;
    z-index: 2;
    opacity: 0.2;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .back-to-top:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
  } 
{% endblock %}
{% block shop %}active{% endblock %}
{% block body %}
   <div class="p-4 p-md-5 mb-4 text-white rounded bg-yellow">
    <div class="col-md-6 px-0">
      <img class="logo" src="media\shop\images\logo_3.png">
      <!-- <h1 class="display-4 fst-italic">Click<strong style="color:#cd4fc9;">N</strong>Pick</h1> -->
      <!-- <p class="lead my-3">Its a multinational ecommerse company</p> -->
    </div>
  </div>
  
  <div class="container">
    {% for product in allprods %}
    <h1 class="my-2 heading" style="border-radius:15px;text-align:center;">{{product.0.subcategory}}</h1>
    <div class="row div" style="padding:12px;border-radius: 15px;;">
      {% for i in product %}
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="card">
          <img src="\media\{{i.image}}" alt="..." style="width:100%;max-height: 300px;">
          <h2>{{i.product_name}}</h2>
          <p class="price">Rs{{i.product_price}}</p>
          <p>{{i.short_desc}}</p>
          <p><a class="btn btn-outline-success" href="\product\{{i.product_id}}">Quick View</a></p>
          <p><a class="btn btn-outline-success" href="\checkout\{{i.product_id}}">Buy Now</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <section id="contact">
    <div class="container">
      <h4>contact us</h4>
      <p>justclicknpick1@gmail.com</p>
      <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
  </section>
  <div class="back-to-top"><a href="#nav"> <img title="JC&P." width="50" height="50" src="/media/shop/images/logo_2.png" alt="JC&P"></a> </div>
{% endblock %}