{% extends 'shop/base.html' %}
{% block title %}home{% endblock %}
{% block css %}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
  background: #dddfd4;
}
.card {
    position: relative;
    width: 320px;
    height: 420px;
    background: orange;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -60%;
    transform: skewY(390deg);
}

.card::after {
    content: "JC&P";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.card .imgBx img {
    max-width: 90%;
    transition: 0.5s;
}

.card:hover .imgBx img {
    max-width: 70%;
}

.card .contextBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contextBx h3 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contextBx .price {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contextBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-decoration: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card .contextBx .buy {
    top: 0;
    opacity: 1;
}
  <!--- 
    *******************
  -->

  body .no-padding{
   padding-left: 0;
   padding-right: 0;
   }
   .bg-yellow {
    background-color: #ffc107eb!important;
   }
   .logo{
     width:220px;
     height:150px;
     border-radius: 32px;
   }
   .card{
     margin-bottom:10px;
   }
   @media screen and (max-width: 700px){
    .logo{
      width:300px;
     height:200px;
     border-radius: 32px;
    }
   }
{% endblock %}
{% block home %}active{% endblock %}
{% block body %}
   <div class="p-4 p-md-5 mb-4 text-white rounded bg-yellow">
    <div class="col-md-6 px-0">
      <img class="logo" src="media\shop\images\logo2.jpeg">
      <!-- <h1 class="display-4 fst-italic">Click<strong style="color:#cd4fc9;">N</strong>Pick</h1> -->
      <!-- <p class="lead my-3">Its a multinational ecommerse company</p> -->
    </div>
  </div>
  
  <div class="container">
    {% for product in allprods %}
    <h1 class="my-2" style="border-radius:15px;text-align:center;">{{product.0.category}}</h1>
    <div class="row">
      {% for i in product %}
      <div class="col-xs-2 col-sm-2 col-md-2" style="margin-right:168px;">
        <!-- <h2>{{i.product_name}}</h2> -->
        <div class="card" >
          <div class="imgBx">
            <img src="\media\{{i.image}}" alt="">
          </div>
          <div class="contextBx">
            <h2 class="price">Rs {{i.product_price}}</h2>
              <a href="\checkout\{{i.product_id}}" class="buy">Buy now</a>
              <a href="\product\{{i.product_id}}" class="buy">Quick View</a>
          </div>
      </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  
{% endblock %}