{% extends 'shop/base.html' %}
{% block title %}Shop{% endblock %}
{% block css %}

a {
  text-decoration: none !important
}

.card-product-list,
.card-product-grid {
  margin-bottom: 0
}

.card {
  width: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  margin-top: 50px
}

.card-product-grid:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: .3s;
  transition: .3s
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px
}

.card .img-wrap {
  overflow: hidden
}

.card-lg .img-wrap {
  height: 280px
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 275px;
  padding: 16px
}

[class*='card-product'] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover
}

.img-wrap {
  text-align: center;
  display: block
}

.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px
}

[class*='card-product'] a.title {
  color: #212529;
  display: block
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both
}

.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1
}

.card-product-grid .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4
}

.rated {
  font-size: 10px;
  color: #b3b4b6
}

.my-btn {
  display: inline-block;
  font-weight: 600;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem
}

.btn-primary {
  color: #fff;
  background-color: #3167eb;
  border-color: #3167eb
}

.fa {
  color: #FF5722
}
  <!--- 
    *******************
  -->

  body .no-padding{
   padding-left: 0;
   padding-right: 0;
   }
   .bg-yellow {
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
   }
   .logo{
     width:220px;
     height:150px;
     border-radius: 32px;
   }
   .card{
     margin-bottom:10px;
   }
   @media screen and (max-width: 700px){
    .logo{
      width:300px;
     height:200px;
     border-radius: 32px;
    }
   }
   .btn-outline-success:hover{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
   }
   .btn-outline-success{
     background:black;
     <!-- border:8px solid red; -->
     border-radius:10px;
   }
   .heading{
     letter-spacing:1px;
     padding:12px;
     border:4px solid white;
   }
   .heading:hover{
    background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opicity:-1;
   }
   .div{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
   }
   #contact {
    width: 100%;
    height: auto;
    background-color: #e6b58f;
  }
  
  #contact .container {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding-bottom: 2rem;
    text-transform: capitalize;
  }
  
  #contact .container h4 {
    font-family: "Franklin Gothic Medium";
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.056rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  #contact .container p {
    font-family: Cambria;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.044rem;
    text-align: center;
    padding: 0.2rem 0rem;
  }
  
  #contact .container p.email {
    margin: 0 auto;
    margin-top: 16rem;
    border-bottom: 1px solid white;
    text-align: left;
    width: 40%;
  }
  
  #contact .container p.email span {
    width: 17px;
    height: 15px;
    float: right;
  }
  
  #contact .container p.email span img {
    width: 17px;
    height: auto;
  }
  
  @media only screen and (max-width: 800px) {
    #contact .container p.email {
      width: 90%;
    }
  }
  .back-to-top {
    padding: 1rem;
    position: fixed;
    bottom: 8%;
    right: 2%;
    z-index: 2;
    opacity: 0.2;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .back-to-top:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
  } 

  <!--
    Share
  -->
  .whatsapp{
    width: 50px
    height: 50px
    margin: 0 auto
    text-align: center
    border: 3px solid green
    border-radius: 50%
    transition-duration: 0.5s
  }
  .fa-whatsapp{
    padding-top: 5px
    font-size: 70px
    text-decoration: none;
    color: green
  }

  &:hover{
    background-color: green;
    .fa-whatsapp{
      color: white
    }
  }
{% endblock %}
{% block shop %}active{% endblock %}
{% block body %}
   <div class="p-4 p-md-5 mb-4 text-white rounded bg-yellow">
    <div class="col-md-6 px-0">
      <img class="logo" src="media\shop\images\logo_3.png">
      <!-- <h1 class="display-4 fst-italic">Click<strong style="color:#cd4fc9;">N</strong>Pick</h1> -->
      <!-- <p class="lead my-3">Its a multinational ecommerse company</p> -->
    </div>
  </div>
  
  <div class="container">
    {% for product in allprods %}
    <h1 class="my-2 heading" style="border-radius:15px;text-align:center;">{{product.0.subcategory}}</h1>
    <div class="row div" style="padding:12px;border-radius: 15px;;">
      {% for i in product %}
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="container d-flex justify-content-center">
          <figure class="card card-product-grid card-lg">
            <!-- <div class="whatsapp" style="margin:20px;">
              <a class="fa fa-whatsapp" href="https://api.whatsapp.com/send?text=www.justclicknpick.in/product/{{i.product_id}}" target="_blank" data-action="share/whatsapp/share"> Share</a>                
            </div> -->
             <a href="#" class="img-wrap" data-abc="true"> <img src="/media/{{i.image}}"> </a>
              <figcaption class="info-wrap">
                  <div class="row">
                      <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{i.product_name}}</a> <span class="rated">{{i.subcategory}}</span> </div>
                      <div class="col-md-3 col-xs-3">
                          <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                      </div>
                  </div>
              </figcaption>
              <div class="bottom-wrap"> <a href="\checkout\{{i.product_id}}" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                  <div class="price-wrap"> <a href="\product\{{i.product_id}}" class="btn my-btn btn-warning float-left" data-abc="true">View </a> </div>
              </div>
          </figure>
      </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <section id="contact">
    <div class="container">
      <h4>contact us</h4>
      <p>justclicknpick1@gmail.com</p>
      <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
  </section>
  <div class="back-to-top"><a href="#nav"> <img title="JC&P." width="50" height="50" src="/media/shop/images/logo_2.png" alt="JC&P"></a> </div>
{% endblock %}