{% extends 'shop/base.html' %}
{% block title %}{{product.0.product_name}}{% endblock %}
{% block css %}
/**
 * Pen Resets
 */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }

}

.o-wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (max-width: 899px) {
	.card{
		margin:10px;
	}
}

.c-product-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -96px;
	margin-top: 96px;
	margin-bottom: 96px;
}

.c-product-container__element {
	flex-basis: 100%;
	padding-left: 106px;
	text-align: center;
}
@media (max-width:899px){
  .c-product-container__element{
    padding-left:20px;
  }
}
.c-product-container__element--details {
  margin-top: 48px;
}

@media screen and (min-width: 900px) {
  .c-product-container__element {
		flex-basis: 50%;
	}
	
	.c-product-container__element--images {
		text-align: right;
	}
	
	.c-product-container__element--details {
		text-align: left;
		margin-top: 0;
	}
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #0e538c;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #1f4c72;
  line-height: 24px;
}
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  .c-product-name {
		margin-bottom: 24px;
	}
}
.font{
    font-size: 12px;
    color: #0e538c;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
<!--
  Important
-->
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .image{
      width:400px;
      height:400px;
  }
  .verified{
    display:flex;
  }
  .verified span,p{
    margin:4px;
  }
  .verified span{
    background: #44dcd5;
    border: 1px solid #4cd5c2;
    border-radius: 50%;
    padding: 2px;
    padding bottom: 0px;
  }

  .verified-cross{
    display:flex;
  }
  .verified-cross span,p{
    margin:4px;
  }
  .verified-cross span{
    background: #ec163e;
    border: 1px solid #a73389;
    border-radius: 50%;
    padding: 2px;
    padding bottom: 0px;
  }
  .card{
    background-color: #ffffff;
	  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	  margin:10px;
  }
  .heading{
    font-style:italic;
    padding:5px;
    letter-spacing:1px;
    font-weight:solid;
  }
  #contact {
    width: 100%;
    height: auto;
    background-color: #e6b58f;
  }
  
  #contact .container {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding-bottom: 2rem;
    text-transform: capitalize;
  }
  
  #contact .container h4 {
    font-family: "Franklin Gothic Medium";
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.056rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  #contact .container p {
    font-family: Cambria;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.044rem;
    text-align: center;
    padding: 0.2rem 0rem;
  }
  
  #contact .container p.email {
    margin: 0 auto;
    margin-top: 16rem;
    border-bottom: 1px solid white;
    text-align: left;
    width: 40%;
  }
  
  #contact .container p.email span {
    width: 17px;
    height: 15px;
    float: right;
  }
  
  #contact .container p.email span img {
    width: 17px;
    height: auto;
  }
  
  @media only screen and (max-width: 800px) {
    #contact .container p.email {
      width: 90%;
    }
  }
  .back-to-top {
    padding: 1rem;
    position: fixed;
    bottom: 8%;
    right: 2%;
    z-index: 2;
    opacity: 0.2;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .back-to-top:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
  }  

  <!--
    comments
  -->
  .content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
.round img {
  border-radius: 10%;
}


.img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 220px
  }
  
  .img-wrap {
	overflow: hidden
  }
  
  .img-wrap {
	height: 280px
  }
  
  .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 275px;
	padding: 16px
  }
  
	.img-wrap img {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover
  }
  
  .img-wrap {
	text-align: center;
	display: block
  }
  .zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom)*/
  }
  
{% endblock %}
{% block body %}
    <div class="o-wrapper">

        <div class="container">
          <div class="row my-5">
              <!-- Product Gallery      -->
              <div class="col-md-5">
                  <aside class="pgallery">
                      <div class="row">
                          <!-- Thumbs -->
                          <div class="col-lg-2">
                              <div class="thumbnails d-flex flex-row flex-lg-column h-100">
                                  {% if product.0.image %}
                                  <div class="pt-wrap mr-2 mr-lg-0 mb-2 tsack border">
                                      <a href="#" rel="/media/{{product.0.image}}" class="thumbLink thumbnail active"><img width="50" src="/media/{{product.0.image}}" alt="..." class="pthumb img-fluid"></a>
                                  </div>
                                  {% endif %}
                                  {% if product.0.image1 %}
                                  <div class="pt-wrap mr-2 mr-lg-0 mb-2 tsack border">
                                      <a href="#" rel="/media/{{product.0.image1}}" class="thumbLink thumbnail active"><img width="50" src="/media/{{product.0.image1}}" alt="..." class="pthumb img-fluid"></a>
                                  </div>
                                  {% endif %}
                                  {% if product.0.image2 %}
                                  <div class="pt-wrap mr-2 mr-lg-0 mb-2 tsack border">
                                      <a href="#" rel="/media/{{product.0.image2}}" class="thumbLink active"><img width="50" src="/media/{{product.0.image2}}" alt="..." class="pthumb img-fluid"></a>
                                  </div>
                                  {% endif %}
                                  {% if product.0.image3 %}
                                  <div class="pt-wrap mr-2 mr-lg-0 mb-2 tsack border">
                                      <a href="#" rel="/media/{{product.0.image3}}" class="thumbLink active"><img width="50" src="/media/{{product.0.image3}}" alt="..." class="pthumb img-fluid"></a>
                                  </div>
                                  {% endif %}
                                  {% if product.0.image4 %}
                                  <div class="pt-wrap mr-2 mr-lg-0 mb-2 tsack border">
                                      <a href="#" rel="/media/{{product.0.image4}}" class="thumbLink active"><img width="50" src="/media/{{product.0.image4}}" alt="..." class="pthumb img-fluid"></a>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                          <!-- Thumbs -->

                          <!-- Main image -->
                          <div class="col-lg-10 d-flex flex-column">
                              <div class="zoom main-pimage flex-grow-1" id="izoomy">
                                  <img src="/media/{{product.0.image}}" alt="" class="custom img-fluid mx-auto d-block img-wrap">
                              </div>
                              <div class="slidy d-flex py-1">
                                  <a id="prev" href="#" class="btn btn-outline-secondary" role="button">Prev</a>
                                  <a id="next" href="#" class="btn btn-outline-secondary ml-auto" role="button">Next</a>
                              </div>
                          </div>
                          <!-- Main image -->
                      </div>

                  </aside>
              </div>
              <!-- Product Gallery ends -->
              <div class="c-product-container__element col-md-7 c-product-container__element--details">
                <div class="product-description">
                  <span>{{product.0.category}}</span>
                   <h1>{{product.0.product_name}}</h1>
                   <p>{{product.0.desc}}</p>
                 </div>
                 
                 <div class="product-price">
                   <span>₹{{product.0.product_price}}</span>
                   <a href="\checkout\{{product.0.product_id}}" class="cart-btn">Buy Now</a>
                 </div>
                 <div class="verified">
                    <span>&#10003;</span>
                    <p class="font"><strong>ManuFactured</strong>: {{product.0.manufacturer_detail}}</p>
                 </div>
          
                 <div class="verified">
                  <span>&#10003;</span>
                  <p class="font"><strong>Seller</strong>: {{product.0.seller_name}}</p>
                </div>
          
                <div class="verified">
                  <span>&#10003;</span>
                  <p class="font"><strong>Warranty Period</strong>: {{product.0.warranty_period}}</p>
                </div>
                {% if product.0.warranty_period%}
                <div class="verified">
                  <span>&#10003;</span>
                  <p class="font">{{product.0.refundable}}</p>
                </div>
                {% else %}
                <div class="verified-cross">
                  <span>X</span>
                  <p class="font">Non-Refundable</p>
                </div>
                {% endif %}
                <!-- {% for key,values in product.0.keyfeature.items %} -->
                <!-- {% endfor %} -->
              </div><!-- /c-product-container__element -->
          
          
            </div><!-- /c-product-container -->
          </div>
        
      </div>
    
</div><!-- /o-wrapper -->
<!-- -->

  <div class="album py-5">
    <div class="container mt-5 mb-5"">
      <h1 style="text-align:center;" class="heading">You May Also Like</h1>
      <div class="row">
        {% for i in products %}
        <div class="col-xs-4 col-sm-4 col-md-4 tune">
          <div class="card">
            <div class="view overlay">
              <a href="/product/{{i.product_id}}">
                <div class="mask">
                  <img class="img-fluid img-wrap w-100"
                    src="/media/{{i.image}}">
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>

            <div class="card-body text-center">
              <h5>{{i.product_name}}</h5>
              <p class="small text-muted text-uppercase mb-2">{{i.subcategory}}</p>
              <hr>
              <h6 class="mb-3">
                <span class="text-primary mr-1">₹{{i.product_price}}</span>
              </h6>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Comments -->
  {% load humanize %}
  <div class="container">
    <h2>All Reviews for {{product.0.product_name}}</h2>
    {% if user.is_authenticated %}
    <form action="/postcomment" method="post">   
      <div class="form-group">
        <label for="comment">Post Review</label>
        {% if comments.count == 0 %}
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Be the first to post a review about this product">
        {% else %}
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Post review here">
        {% endif %}
        <input type="hidden" name="product_id" value="{{product.0.product_id}}">
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary my-1">Post</button>
    </form>
    {% else %}
    <div class="alert alert-warning col-12" role="alert">
      Please login first to post a review
    </div>
    {% endif %}
    <h3>{{comments.count}} Reviews</h3>
    {% for comment in comments %}
    <section class="content-item" id="comments"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-8">   
            <div class="media">
              <div class="p-2"><span class="round"><img src="/media/shop/images/user.png" class="border border-dark" alt="user" width="50"></span></div>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.user.first_name}}</h4>
                    <p>{{comment.comments}}</p>
                    <ul class="list-unstyled list-inline media-detail pull-left">
                        <li><i class="fa fa-calendar"></i>{{comment.timezone}}</li>
                        <span class="badge badge-secondary">{{comment.timezone | naturaltime}}</span>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
  </div>
  <section id="contact">
    <div class="container">
      <h4>contact us</h4>
      <p>justclicknpick1@gmail.com</p>
      <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
  </section>
  <div class="back-to-top"><a href="#"> <img title="JC&P." width="50" height="50" src="/media/shop/images/logo_2.png" alt="JC&P"></a> </div>
  
  {% block js %}
    <script>
      $(document).ready(function() {
      $('.color-choose input').on('click', function() {
          var headphonesColor = $(this).attr('data-image');

          $('.active').removeClass('active');
          $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
          $(this).addClass('active');
      });
      });
      function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      expandImg.src = imgs.src;
      expandImg.parentElement.style.display = "block";
      }
      
      //Image Zoomer
    </script>
    <script>
      $(".thumbLink").click(function(event) {        
        var image = $(this).attr("rel");
        $(".thumbLink").removeClass('active');
        $( this ).addClass( "active" );
        $('.main-pimage').hide();
        $('.main-pimage').fadeIn('slow');
        $('.main-pimage').html('<img src="' + image + '" class="custom img-fluid mx-auto d-block"/>');
        return false;
    });

    $("#next").click(function(event) {        
        $(".thumbLink.active").parent().next().find(".thumbLink").trigger('click');
    });

    $("#prev").click(function(event) {        
        $(".thumbLink.active").parent().prev().find(".thumbLink").trigger('click');
    });
    </script>
   {% endblock %}
  {% endblock %}