{% extends 'shop/base.html' %}
{% block title %}{{product.0.product_name}}{% endblock %}
{% block css %}
/**
 * Pen Resets
 */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }

}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Content Wrapper
 */

.o-wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 24px;
	padding-right: 24px;
}

/**
 * Slider Product Trays
 */

.o-slider-image-viewer {
	position: relative;
}

.o-slider-image-viewer__inner {
	display: block;
	margin: 0;
	padding: 0;
}

.o-slider-image-viewer__slide {
	list-style: none;
	text-align: center;
}

.o-slider-image-viewer__nav {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.o-slider-image-viewer__dot {
    background-color: #ddd;
    border-radius: 50%;
	cursor: pointer;
    display: block;
	height: 12px;
	margin-left: 4px;
	margin-right: 4px;
    width: 12px;
	
	&:focus {
		outline: 0;
	}
	
	&.tns-nav-active {
		background-color: #aaa;
		cursor: default;
	}
}

<!-- @media screen and (min-width: 900px) {
	.o-slider-image-viewer__dot {
    	align-items: center;
		background-color: transparent;
		border-radius: 0;
		border: 1px solid transparent;
	    display: flex;
		height: auto;
    	justify-content: center;
		padding: 3px;
		width: 48px;
		
		&.tns-nav-active {
			background-color: transparent;
			border-color: #aaa;
		}
	}
} -->

@media screen and (max-width: 899px) {
	.o-slider-image-viewer__dot{
		width:15px;
	}
}

/**
 * Product Image Viewer
 */

.c-product-image-viewer__image {
	max-height: calc(90vh - 96px);
}



.c-product-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -96px;
	margin-top: 96px;
	margin-bottom: 96px;
}

.c-product-container__element {
	flex-basis: 100%;
	padding-left: 96px;
	text-align: center;
}

.c-product-container__element--details {
  margin-top: 48px;
}

@media screen and (min-width: 900px) {
  .c-product-container__element {
		flex-basis: 50%;
	}
	
	.c-product-container__element--images {
		text-align: right;
	}
	
	.c-product-container__element--details {
		text-align: left;
		margin-top: 0;
	}
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #1f4c72;
  line-height: 24px;
}
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  .c-product-name {
		margin-bottom: 24px;
	}
}
<!--
  Important
-->
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .image{
      width:400px;
      height:400px;
  }
  .verified{
    display:flex;
  }
  .verified span,p{
    margin:4px;
  }
  .verified span{
    background: #44dcd5;
    border: 1px solid #4cd5c2;
    border-radius: 29px;
    padding: 2px;
    padding bottom: 0px;
  }

  .verified-cross{
    display:flex;
  }
  .verified-cross span,p{
    margin:4px;
  }
  .verified-cross span{
    background: #ec163e;
    border: 1px solid #a73389;
    border-radius: 100%;
    padding: 2px;
    padding bottom: 0px;
  }
  .card{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
{% endblock %}
{% block body %}
<div class="o-wrapper">

	<div class="c-product-container">


		<div class="c-product-container__element c-product-container__element--images">

			<div class="c-product-image-viewer">

				<div class="c-product-image-viewer__carousel">

				  <div class="o-slider-image-viewer">        

					<ul class="o-slider-image-viewer__inner js-sliderImageViewer">

						<li class="o-slider-image-viewer__slide">
						  <img id="expandedImg" class="c-product-image-viewer__image" 
							   src="/media/{{product.0.image}}">
						</li>

					</ul><!-- /o-slider-image-viewer__inner -->

					<div class="o-slider-image-viewer__nav js-imageViewerNav">
						<span class="o-slider-image-viewer__dot">
							<img class="o-slider-image-viewer__dot-image" onclick="myFunction(this);" src="/media/{{product.0.image}}">
						</span><!-- /o-slider-image-viewer__dot -->
						<span class="o-slider-image-viewer__dot">
							<img class="o-slider-image-viewer__dot-image" onclick="myFunction(this);"  src="/media/{{product.0.image1}}">
						</span><!-- /o-slider-image-viewer__dot -->
						<span class="o-slider-image-viewer__dot">
							<img class="o-slider-image-viewer__dot-image" onclick="myFunction(this);" src="/media/{{product.0.image2}}">
						</span><!-- /o-slider-image-viewer__dot -->
						<span class="o-slider-image-viewer__dot">
              <img class="o-slider-image-viewer__dot-image" onclick="myFunction(this);" src="/media/{{product.0.image3}}">
						</span><!-- /o-slider-image-viewer__dot -->
						<span class="o-slider-image-viewer__dot">
							<img class="o-slider-image-viewer__dot-image" onclick="myFunction(this);" src="/media/{{product.0.image4}}">
						</span><!-- /o-slider-image-viewer__dot -->
					</div><!-- /o-slider-image-view__nav -->
          
        </div><!-- /o-slider-image-viewer -->
        
      </div><!-- /c-image-viewer__carousel -->
      
    </div><!-- /c-image-viewer -->
    
		</div><!-- /c-product-container__element -->

    
		<div class="c-product-container__element c-product-container__element--details">
      <div class="product-description">
        <span>{{product.0.category}}</span>
         <h1>{{product.0.product_name}}</h1>
         <p>{{product.0.desc}}</p>
       </div>
       
       <div class="product-price">
         <span>Rs {{product.0.product_price}}</span>
         <a href="\checkout\{{product.0.product_id}}" class="cart-btn">Buy Now</a>
       </div>
       <div class="verified">
          <span>&#10003;</span>
          <p>ManuFactured: {{product.0.manufacturer_detail}}</p>
       </div>

       <div class="verified">
        <span>&#10003;</span>
        <p>Seller: {{product.0.seller_name}}</p>
      </div>

      <div class="verified">
        <span>&#10003;</span>
        <p>Warranty Period: {{product.0.warranty_period}}</p>
      </div>
      {% if product.0.warranty_period%}
      <div class="verified">
        <span>&#10003;</span>
        <p>{{product.0.refundable}}</p>
      </div>
      {% else %}
      <div class="verified-cross">
        <span>X</span>
        <p>Non-Refundable</p>
      </div>
      {% endif %}
		</div><!-- /c-product-container__element -->


	</div><!-- /c-product-container -->
	
</div><!-- /o-wrapper -->
<!-- -->

  <div class="album py-5">
    <div class="container">
      <h1 style="text-align:center;">More of these type of product</h1>
      <div class="row">
        {% for i in products %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card shadow-sm">
            <img src="\media\{{i.image}}" class="bd-placeholder-img card-img-top" width="100%" height="225"aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
            <div class="card-body">
                <h1>{{i.product_name}}</h1>
              <p class="card-text">{{i.desc}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="/checkout/{{i.product_id}}">Buy Now</a>
                  <a class="btn btn-sm btn-outline-secondary" href="/product/{{i.product_id}}">Quick view</a>
                </div>
                <small class="text-muted">Rs.{{i.product_price}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% block js %}
    <script>
      $(document).ready(function() {
      $('.color-choose input').on('click', function() {
          var headphonesColor = $(this).attr('data-image');

          $('.active').removeClass('active');
          $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
          $(this).addClass('active');
      });
      });
      function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      expandImg.src = imgs.src;
      expandImg.parentElement.style.display = "block";
      }

      //Image Zoomer
    </script>
   {% endblock %}
{% endblock %}