{% extends 'shop/base.html' %}
{% block title %}Search{% endblock %}
{% block css %} 
@media screen and (max-width: 899px) {
	.list-group{
		margin:10px;
	}
}
#contact {
	width: 100%;
	height: auto;
	background-color: #e6b58f;
}

#contact .container {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
	text-transform: capitalize;
}

#contact .container h4 {
	font-family: "Franklin Gothic Medium";
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.056rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#contact .container p {
	font-family: Cambria;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.044rem;
	text-align: center;
	padding: 0.2rem 0rem;
}

#contact .container p.email {
	margin: 0 auto;
	margin-top: 16rem;
	border-bottom: 1px solid white;
	text-align: left;
	width: 40%;
}

#contact .container p.email span {
	width: 17px;
	height: 15px;
	float: right;
}

#contact .container p.email span img {
	width: 17px;
	height: auto;
}

@media only screen and (max-width: 800px) {
	#contact .container p.email {
		width: 90%;
	}
}
.back-to-top {
	padding: 1rem;
	position: fixed;
	bottom: 8%;
	right: 2%;
	z-index: 2;
	opacity: 0.2;
	background-color: rgba(255, 255, 255, 0);
}

.back-to-top:hover {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
} 
.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
} 
.img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 220px
  }
  
  .img-wrap {
	overflow: hidden
  }
  
  .img-wrap {
	height: 280px
  }
  
  .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 275px;
	padding: 16px
  }
  
	.img-wrap img {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover
  }
  
  .img-wrap {
	text-align: center;
	display: block
  }

  <!--
	  imp
  -->
  .badge23 {
    display: inline-block;
    padding: 0.30em .4em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #e9f716;
    background-color: #28a745
}

.rating-review {
    color: #5b5b5b;
    font-size: 12px
}

.product_price {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    margin-top: -11px;
    margin-bottom: 0px;
    color: #080808;
    clear: left
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

.seperator {
    background: #a2a2efb8
}
{% endblock %}
{% block body %}
    <div class="album py-5">
      <div class="container">
      <h1 class="my-4" style="text-align: center;">Search result-<span class="badge">{{length}}</span></h1>
      <div class="row">
        {% for i in products%}
		<div class="col-lg-12 mx-auto">
            <ul class="list-group shadow">
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row"> <img src="/media/{{i.image}}" alt="Generic placeholder image" width="250" height="200" class="order-1 order-lg-1">
                        <div class="media-body order-2 order-lg-2 ml-lg-5">
                            <h5 class="mt-0 mb-1">{{i.product_name}}</h5>
                            <div class="product-rating mb-2"> <span class="badge23"><i class="fa fa-star"></i> 4 Star</span> <span class="rating-review mb-1">4 Ratings</span> </div> <span class="product_price price-new">₹ {{i.product_price}} </span>
                            <hr class="mb-2 mt-1 seperator">
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <ul class="list-inline small">
									<li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png">{{i.short_desc}}</li>
                                    <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"> Warranty: {{i.warranty_period}}</li>
                                    <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"> In Stock: {{i.instock}} items are in stock</li>
                                </ul>
								<a href="/product/{{i.product_id}}" class="btn btn-outline-primary">View</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <section id="contact">
    <div class="container">
      <h4>contact us</h4>
      <p>justclicknpick1@gmail.com</p>
      <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
  </section>
  <div class="back-to-top"><a href="#nav"> <img title="JC&P." width="50" height="50" src="/media/shop/images/logo_2.png" alt="JC&P"></a> </div>
{% endblock %}